.unit {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  top: 0;
  right: 1rem;
  bottom: 0;
  padding-top: 0.2em;
  font-size: 1.2rem;
  color: #8892b0;
}

abbr::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}